<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Announcements</h2>
                <hr class="light">
                <p>
                    This is our new PGSA webpage!
                </p>
            </div>
        </div>
    </div>
    <center>
        <iframe 
            src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23f05f40&ctz=America%2FNew_York&src=c2FiaW5hLnNhZ3luYmF5ZXZhQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043" style="border-width:0" width="500" height="400" frameborder="0" scrolling="no">
        </iframe>
    </center>
</section>
