<style>
    ul.a {
      list-style-type: circle;
    }
    
    ul.b {
      list-style-type: square;
    }
    
    ol.c {
      list-style-type: upper-roman;
    }
    
    ol.d {
      list-style-type: lower-alpha;
    }
</style>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We're here to help Physics & Astronomy Graduate Students at SBU!</h2>
                <hr class="light">
                <p class="text-faded">
                    Your PGSA board:
                </p>
                    <ul class="a">
                        <li>President: Artemis Sofia Giannakopoulou</li>
                        <li>Vice-President: Henry Klest</li>
                        <li>Secretary: Karol Dyro</li>
                        <li>Treasurer: Jolien van Nieuwenhuizen</li>
                        <li>Historian: Luke Legnosky</li>
                        <li>Director of External Affairs: Henry Klest</li>
                        <li>Director of Marketing: Sabina Sagynbayeva</li>
                        <li>Director of Outreach: Julian Driebeek</li>
                        <li>Upper-class-person at large: Duncan Adams</li>
                        <li>Under-class-person at large: Jay Desai, Edoardo Buonocore</li>
                    </ul>
                <a href="http://grad08.physics.sunysb.edu/wiki/Main_Page" class="btn btn-default btn-xl">PGSA Wiki page</a>
            </div>
        </div>
    </div>
</section>
