<style>
    ul.a {
      list-style-type: circle;
    }
    
    ul.b {
      list-style-type: square;
    }
    
    ol.c {
      list-style-type: upper-roman;
    }
    
    ol.d {
      list-style-type: lower-alpha;
    }
</style>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We're here to help Physics & Astronomy Graduate Students at SBU!</h2>
                <hr class="light">
                <p class="text-faded">
                    Your PGSA board:
                </p>
                    <ul class="a">
                        <li>President: Artemis Sofia Giannakopoulou (artemissofia.giannakopoulou)</li>
                        <li>Vice-President: Henry Klest (henry.klest)</li>
                        <li>Secretary: Karol Dyro (karol.dyro)</li>
                        <li>Treasurer: Jolien van Nieuwenhuizen (helena.vannieuwenhuizen)</li>
                        <li>Historian: Luke Legnosky (luke.legnosky)</li>
                        <li>Director of External Affairs: Henry Klest (henry.klest)</li>
                        <li>Director of Marketing: Sabina Sagynbayeva (Sabina.Sagynbayeva)</li>
                        <li>Director of Outreach: Julian Driebeek (julian.driebeek)</li>
                        <li>Upper-class-person at large: Duncan Adams (duncan.adams)</li>
                        <li>Under-class-person at large: Jay Desai (jay.desai), Edoardo Buonocore (edoardo.buonocore)</li>
                    </ul>
                    <!-- <p class="text-faded">
                        
                        
                        Our general grad school and physics program information Wiki is now available. Feel free to request a user account. We are keeping it private so that the information we share does not spread too widely, but anyone can get an account as long as they treat the wiki respectfully.
                    </p>
                <a href="http://grad08.physics.sunysb.edu/wiki/Main_Page" class="btn btn-default btn-xl">PGSA Wiki page</a> -->
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Announcements</h2>
                <hr class="light">
                <p class="text-faded">
                    This is our new PGSA webpage!
                </p>
            </div>
        </div>
    </div>
    <center>
        <iframe 
            src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23f05f40&ctz=America%2FNew_York&src=c2FiaW5hLnNhZ3luYmF5ZXZhQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043" style="border-width:0" width="500" height="400" frameborder="0" scrolling="no">
        </iframe>
    </center>
</section>
