<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/pizza.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Schedule
                            </div>
                            <div class="project-name">
                                FAS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/ssagynbayeva/pgsa/blob/main/consitution/Constitution05012017.pdf" class="portfolio-box">
                    <img src="img/portfolio/cons.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Document
                            </div>
                            <div class="project-name">
                                Constitution
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/talks.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Schedule
                            </div>
                            <div class="project-name">
                                GRAD TALKS
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="https://www.stonybrook.edu/commcms/grad-physics-astronomy/degrees/PhD" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Page
                            </div>
                            <div class="project-name">
                                PhD Degree Requirements
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="https://www.stonybrook.edu/commcms/grad-physics-astronomy/resources/Comps.php" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Page
                            </div>
                            <div class="project-name">
                                Comps Materials
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="http://www.astro.sunysb.edu/" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Page
                            </div>
                            <div class="project-name">
                                Astronomy Page
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
